# Object files
**.o
**.so

# Vim temporary files
**.swp
**.swo

# Kernprof profiling info
**.lprof

# Image files
**.png

# Callgrind and cachegrind profiling info
**callgrind.out.*
**cacherind.out.*

# C port program
render
